*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
ul,
li{
  list-style: none;
}
h1, h2, h3, h4, h5, h6{
  font-size: inherit;
}
a{
  color: inherit;
  text-decoration: none;
}
a:focus, a:active{
  outline: none;
}
nav, header, footer, aside{
  display: block;
}
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background-color: #000;
}
.container{
  max-width: 1335px;
  padding: 0 10px;
  margin: 0 auto;
}
/* h2 for other titles */
.general__title{
  font-size: 48px;
  line-height: 67px;
}
/* h4 for some titles */
.general__subtitle{
  max-width: 330px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
}
/* header top */
.header{
  background-image: url('../images/header__bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
}
.logo{
  margin-left: 80px;
}
/* navigation menu */
.menu{
  margin-left: 522px;
  margin-right: 270px;
}
.menu__list{
  display: flex;
}
.menu__item + .menu__item{
  margin-left: 56px;
}
.menu__btn{
  margin-right: 80px;
}
/* menu button */
.menu__btn-link{
  display: inline-block;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 10px 30px;
  max-width: 183px;
  max-height: 44px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
}
.menu__btn-link:hover{
  background: linear-gradient(#C89AFC 9.51%, #7C6AFA 90.23%);
}
/* header content */
.header__content{
  padding-bottom: 218px;
}
.header__title{
  font-size: 64px;
  line-height: 90px;
  max-width: 920px;
  max-height: 180px;
  margin-top: 190px;
  margin-bottom: 50px;
}
.header__timer{
  display: flex;
  flex-direction: row;
}
/* timer */
.timer__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  max-width: 115px;
  max-height: 112px;
  padding: 20px 30px;
  background-color: #121212;
}
.timer__item:first-child{
  margin-left: 0;
  padding: 0 34px;
}
.timer__count{
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}
.timer__description{
  line-height: 22px;
  opacity: 0.4;
}
/* header bottom */
.header__bottom{
  max-height: 130px;
  background-color: #121212;
}
.statistics{
  display: flex;
  align-items: center;
}
.statistics__item{
  margin: 30px 0 28px;
}
.statistics__item + .statistics__item{
  margin-left: 81px
}
/* order button */
.order__btn{
  display: inline-block;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 10px 30px;
  max-width: 169px;
  max-height: 44px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  font-weight: 700;
}
.statistics__item-inner{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  max-width: 290px;
}
.statistics__description{
  opacity: 0.4;
}
.statistics__count{
  font-weight: 700;
}
.statistics__money-inner{
  display: flex;
  gap: 623px;
  position: relative;
  margin-top: 19px;
  border-top: 6px solid #FFFFFF;
}
.statistics__money{
  opacity: 0.4;
}
/* money earned */
.statistics__money-inner::before{
  content: "";
  display: block;
  /* set % of the progress line */
  width: 40%;
  height: 6px;
  position: absolute;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  top: -6px;
  left: 0;
  z-index: 1;
}
/* section about */
.section__about{
  margin: 200px ;
}
.about__inner{
  display: flex;
  gap: 139px;
}
.about__item:last-child{
  padding-top: 69px;
}
.about__text{
  margin-top: 45px;
  line-height: 26px;
  max-width: 636px;
}
/* section start */
.section__start{
  margin-bottom: 200px;
}
.start__inner{
  display: flex;
  margin-bottom: 51px;
  align-items: center;
}
.start__img{
  margin-right: 20px;
}
.start__text{
  max-width: 410px;
  opacity: 0.5;
  line-height: 26px;
}
.start__progress{
  display: flex;
  margin-top: 80px;
}
.progress__percent{
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}
.progress__percent:first-child{
  margin-right: 235px;
}
.progress__percent + .progress__percent{
  margin-right: 256px;
}
.progress__inner{
  display: flex;
  align-items: center;
  margin: 20px 0 35px;
}
.progress__block{
  width: 324px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.block__first{
  height: 80px;
}
.block__second{
  height: 60px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.block__third{
  height: 30px;
}
.block__fourth{
  height: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.progress__wrapper{
  display: flex;
}
.progress__text + .progress__text{
  margin-left: 18px;
}
.progress__text{
  max-width: 306px;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.5;
}
/* section employment */
.section__employment{
  margin-bottom: 232px;
}
.employment__title-wrapper{
  max-width: 810px;
  margin: 0 auto 126px;
}
.employment__wrapper{
  display: flex;
  justify-content: space-between;
}
.employment__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 416px;
}
.employment__img{
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 60px;
}
.employment__text{
  max-width: 358px;
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.8;
}
/* section partners */
.section__partners{
  margin-bottom: 153px;
}
.partenrs__inner{
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.partners__img{
  margin-right: 20px;
}
.partners__wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 52px;
}
/* section program */
.section__programm{
  margin-bottom: 170px;
}
.programm__inner{
  max-width: 485px;
  margin: 0 auto 80px;
  justify-content: center;
  text-align: center;
}
.programm__img{
  margin-bottom: 31px;
}
.programm__text{
  max-width: 410px;
  margin: 30px auto 0;
  line-height: 26px;
  opacity: 0.5;
}
/* programm weeks */
.programm__wrapper{
  max-width: 598px;
  margin: 0 auto;
  position: relative;
}
.programm__item{
  display: flex;
  flex-direction: column;
  max-width: 228px;
}
.programm__item:nth-child(2n-1){
  text-align: right;
  position: relative;
}
.programm__item:nth-child(2n-1)::after{
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  border: 1px solid #FFFFFF;
  opacity: 0.3;
  right: -68px;
  top: 62%;
}
.programm__item:nth-child(2n){
  margin-left: 370px;
  position: relative;
}
.programm__item:nth-child(2n)::before{
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  border: 1px solid #FFFFFF;
  opacity: 0.3;
  left: -68px;
  top: 62%;
}
.programm__week{
  font-size: 14px;
  line-height: 22px;
  opacity: 0.5;
  padding-bottom: 15px;
}
.programm__week:nth-child(2n){
  text-align: left;
}
/* weeks progress timeline */
.programm__wrapper::before{
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 620px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  left: 296px;
  top: 0;
}
/* section teachers */
.section__teachers{
  margin-bottom: 200px;
}
.teachers__inner{
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.teachers__wrapper{
  display: flex;
  justify-content: space-evenly;
}
.teachers__item{
  align-items: center;
}
.teachers__img{
  margin-bottom: 40px;
}
.teachers__description{
  margin: 15px 0 30px;
  line-height: 26px;
  opacity: 0.8;
}
.teachers__btn{
  max-width: 143px;
  margin: 0 auto;
}
.teachers__btn-link{
  display: inline-block;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 10px 30px;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
}
/* footer */
.footer{
  padding-bottom: 106px;
}
.footer__inner{
  max-width: 547px;
  margin: 0 auto;
  text-align: center;
}
.footer__text{
  max-width: 410px;
  margin: 30px auto 60px;
  line-height: 26px;
  opacity: 0.5;
}
/* email/subscribe form */
.footer__form{
  position: relative;
  display: flex;
  max-width: 432px;
  align-items: center;
  margin: 0 auto;
}
.form__email-input{
  width: 353px;
  height: 44px;
  padding: 10px 100px 10px 30px;
  background-color:rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 50px 0px 0px 50px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  outline: none;
}
.form__email-input:focus{
  border: 1px solid #DF5950;
}
.form__subscribe-btn{
  position: absolute;
  width: 160px;
  height: 44px;
  padding: 10px 30px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border: none;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  right: -30px;
  z-index: 1;
  cursor: pointer;
}
.form__subscribe-btn:hover{
  background: linear-gradient(180deg, #DF5950 11.19%, #451046 93.72%);
}
/* footer navigation */
.footer__nav{
  display: flex;
  max-width: 290px;
  margin: 40px auto 0;
  justify-content: space-between;
}
.footer__nav-item{
  width: 50px;
  height: 50px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50%;
}
.footer__nav-img{
  transform: translateX(50%);
  transform: translateY(50%);
}